@media screen and (min-width: 768px) {
	.header {
		padding: var(--header-block-padding) var(--section-inline-padding);
		box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.25);
	}
	.icon {
		display: none;
	}
	.nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #FFF;
	}
	.nav__mobile {
		padding: 0;
	}
	.nav__menu {
		width: 80%;
		position: relative;
		display: flex;
		justify-content: end;
		height: auto;
	  margin-top: 0;
	  background-image: none;
	  background-color: #FFF;
	  transform: translateY(0);
	}
	.nav__menu li {
		margin: 0;
		margin-left: 2rem;
	}
	.nav__menu li a {
		font-weight: 600;
		color: var(--dark-grayish-violet);
	}
	.nav__menu li a:hover,
	.nav__menu li a:focus-visible {
		color: var(--dark-violet);
	}
	.nav__menu li:last-child .btn {
		padding: 1rem 2.5rem;
		border: 1px solid var(--very-dark-violet);
		transition: .1s ease;
	}
	.nav__menu li:last-child .btn:hover,
	.nav__menu li:last-child .btn:focus-visible {
		background-color: var(--very-dark-violet);
		color: var(--very-light-gray);
		border: 1px solid var(--very-dark-violet);
	}
	/******************************
	 	2. INTRO SECTION 
	/******************************/
	.intro__section {
		position: relative;
		padding-top: 6rem;
		overflow-x: clip;
	}
	.intro__section:after {
		content: url(../images/bg-pattern-intro-right-desktop.svg);
		position: absolute;
		top: -45%;
		right: 40%;
		width: 4%;
	}
	.intro__grid__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
		padding: 0 var(--section-inline-padding);
	}
	.intro__img {
		order: 1;
		transform: translateY(60px);
	}
	.intro__content {
		order: 0;
		align-items: start;
		justify-content: center;
		padding: 0;
		text-align: left;	
	}
	.intro__content:before {
		display: none;
	}
	.intro__content:after {
		display: none;
	}
	.intro__title {
		position: relative;
	}
	.intro__title:before {
		content: '';
		position: absolute;
		height: 5px;
		width: 25%;
		top: -30%;
		left: 0%;
		border-top: 1px solid #FFF;
	}
	/*******************************
	 	3.SERVICES SECTION 
	/********************************/	
	.services__section {
		padding: 30rem var(--section-inline-padding) 10rem;
		position: relative;
	}
	.services__section:before {
		content: url(../images/bg-pattern-intro-left-desktop.svg);
		position: absolute;
		top: -25%;
		left: 0;
	}
	.services__title {
		align-self: flex-start;
		margin-bottom: 8rem;
	}
	.services__title:before {
		width: 35%;
		left: 0%;
		top: -55px;
	}
	.services__cards {
		display: flex;		
		gap: 2.5rem;
	}
	.card {
		text-align: left;
	}
	.card__image {
		margin: 0;
	}
	/************************
	 	4. HOW-WE-WORK SECTION
	/*************************/
	.how-we-work__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		background-image: url('../images/bg-pattern-how-we-work-desktop.svg');
	}
	.how-we-work__title {
		text-align: left;
	}
	.how-we-work__link {
		justify-self: end;
		width: 180px;
		background-color: var(--dark-violet);
	}
	/***********************
	 	5.FOOTER
	/***********************/
	.footer {
		background-image: url('../images/bg-pattern-footer-desktop.svg');
		background-repeat: no-repeat;
		background-position: top left;		
	}
	.footer__grid__container {
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: 100px 50px 220px;
		place-items: start;
	}
	.footer__logo {
		grid-column: 1 / 5;
		grid-row: 1 / 2;
	}
	.social__menu {
		grid-column: 5 / 6;
		grid-row: 1 / 2;
		justify-self: flex-end;
		margin: 0;
	}
	.line {
		grid-column: 1 / 6;
		grid-row: 2 / 3;
	}
	.links__container {
		text-align: left;
	}
	.links__container:first-child {
		grid-column: 1 / 2;
		grid-row: 3 / 4;
	}
	.links__container:nth-child(1) {
		grid-column: 2 / 3;
		grid-row: 3 / 4;
	}
	.links__container:nth-child(2) {
		grid-column: 3 / 4;
		grid-row: 3 / 4;
	}
	.links__container:last-child {
		grid-column: 4 / 5;
		grid-row: 3 / 4;
	}
}

@media screen and (min-width: 1200px) {
	.btn {
		padding: 1rem 3rem;
	}
	.intro__section {
		padding-top: 3rem;
	}
	.intro__section:after {
		top: 0;
		right: 0;
		width: auto;
	}	
	.intro__img {
		transform: translateY(135px);
	}
	.intro__title {
		width: 14ch;	
	}
	.intro__text {
		width: 60ch;
	}
	
}