/*----------------------------------------
- GENERAL STYLES
- 1.HEADER
- 2.INTRO SECTION
- 3.SERVICES SECTION
- 4.HOW-WE-WORK SECTION
- 5.FOOTER
------------------------------------------*/

/*----------------------------------------
	GENERAL STYLES
-----------------------------------------*/ 
:root {
	/* COLORS */
	--dark-violet: hsl(256, 26%, 20%);
	--grayish-blue: hsl(216, 30%, 68%);
	--very-dark-violet: hsl(270, 9%, 17%);
	--dark-grayish-violet: hsl(273, 4%, 51%);
	--very-light-gray: hsl(0, 0%, 98%);

	/* FONT FAMILY */
	--ff-primary: 'Karla', sans-serif;
	--ff-secondary: 'DM Serif Display', serif;

	/* FONT SIZES */
	--font-size-h1: 4rem;
	--font-size-h2: 4rem;
	--font-size-h3: 2rem;
	--font-size-h4: 4rem;
	--font-size-text: 1.6rem;
	--font-size-links: clamp(1.4rem, calc(1.4rem + ((1vw - 0.32rem) * 0.0956)), 1.5rem);

	/* PADDINGS */
	--header-block-padding: clamp(2rem, calc(2rem + ((1vw - 0.32rem) * 0.956)), 3rem);
	--section-block-padding: clamp(2rem, calc(2rem + ((1vw - 0.32rem) * 1.912)), 4rem);

	--section-inline-padding: clamp(2rem, calc(2rem + ((1vw - 0.32rem) * 5.7361)), 8rem);
	
}
@media screen and (min-width: 1200px) {
	:root {
		--font-size-h1: clamp(4rem, calc(4rem + ((1vw - 0.32rem) * 2.8681)), 7rem);
		--font-size-h2: clamp(4rem, calc(4rem + ((1vw - 0.32rem) * 1.912)), 6rem);
		--font-size-h3: clamp(2rem, calc(2rem + ((1vw - 0.32rem) * 0.956)), 3rem);
		--font-size-h4: clamp(4rem, calc(4rem + ((1vw - 0.32rem) * 0.956)), 5rem);
		--font-size-text: clamp(1.6rem, calc(1.6rem + ((1vw - 0.32rem) * 0.1912)), 1.8rem);
	}
}
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
html {
	font-size: 62.5%;
}
body {
	max-width: 1440px;
	margin: 0 auto;
	font-family: var(--ff-primary);
	font-size: 1.6rem;
	color: var(--dark-violet);
}
figure,
picture,
img {
	display: block;
}
img {
	width:  100%;
	object-fit: cover;
}
ul {
	list-style-type: none;
}
a {
	font-size: var(--font-size-links);
	text-decoration: none;
}
h1,
h2,
h3 {
	font-family: var(--ff-secondary);
}
h1 {
	font-size: var(--font-size-h1);
}
h2 {
	font-size: var(--font-size-h2);
}
h3 {
	font-size: var(--font-size-h3);
}
.btn {
	padding: 1rem 2.5rem;
	text-transform: uppercase;
	text-align: center;
	color: var(--very-light-gray);
	border:  1px solid #FFF;
	transition: .1s ease;
}
.btn:hover,
.btn:focus-visible {
	background-color: #FFF;
	color: var(--very-dark-violet);
	cursor: pointer;
}
/*****************************
	1.HEADER
/*****************************/
.header {
	padding: var(--header-block-padding) var(--section-inline-padding);
	position: sticky;
	top: 0;
	background-color: #FFF;
	z-index: 999;
}
.nav__mobile {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #FFF;
	position: relative;
	z-index: 100;
}
.nav__menu {
	position: absolute;	
	width: 88%;
	height: 500px;
	margin-top: 2rem;
	background-color: var(--very-dark-violet);
	background-image: url('../images/bg-pattern-mobile-nav.svg');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;
	text-align: center;	
	transform: translateY(-150%);
	transition: transform .3s ease;
	z-index: 50;
}
.nav__menu li {
	margin: 4rem 0;
}
.nav__menu li a {
	color: var(--very-light-gray);
	text-transform: uppercase;
	transition: .1s ease;
}
.nav__menu li a:hover,
.nav__menu li a:focus-visible {
	font-weight: 700;
}
.nav__menu li:last-child .btn {
	border: 1px solid white;
	padding: 1rem 7.5rem;
	transition: .1s ease;
}
.nav__menu li:last-child .btn:hover,
.nav__menu li:last-child .btn:focus-visible {
	background-color: white;
	color: var(--very-dark-violet);
	border: 1px solid var(--very-dark-violet);
}
/* Classes used with js */
.show-menu {
	transform: translateY(0);
	transition: transform .9s;
}
.hide {
	display: none;
}
.show-icon {
	display: block;
}

/*****************************
	2. INTRO SECTION
/******************************/ 
.intro__section {
	background-color: var(--dark-violet);
	position: relative;
}
.intro__img {
	width: 100%;
}
.intro__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 12rem 2rem;
	color: var(--very-light-gray);
	text-align: center;
	position: relative;
}
.intro__content:before {
	content: url(../images/bg-pattern-intro-left-mobile.svg);
	position: absolute;
	top: 0;
	left: 0;
}
.intro__content:after {
	content: url(../images/bg-pattern-intro-right-mobile.svg);
	position: absolute;
	bottom: -30%;
	right: 0;
}
.intro__title{
	width: 15ch;
	font-family: var(--ff-secondary);
	font-weight: 300;
	line-height: 1;
}
.intro__text {
	width: 32ch;
	margin: 3rem 0 3.5rem;
	font-size: var(--font-size-text);
	line-height: 1.5;
}
/**********************
	3. SERVICES
/***********************/
.services__section {
	padding: 16rem var(--section-inline-padding) 12rem;
}
.services__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.services__title {
	margin-bottom: 4rem;
	font-weight: 700;
	position: relative;
}
.services__title:before {
	content: '';
	position: absolute;
	width: 50%;
	height: 5px;
	top: -40px;
	left: 25%;
	border-top: 1px solid var(--grayish-blue);
}
.card {
	padding-top: 2rem;
	margin-bottom: 3rem;
	text-align: center;
}
.card__image {
	width: 70px;
	margin: 0 auto;
}
.card__title {
	margin: 2.5rem 0;
}
.card__text {
	color:  var(--dark-grayish-violet);
	line-height: 1.5;
}

/*************************
	4. HOW-WE-WORK SECTION
/*************************/ 
.how-we-work__section {
	padding: var(--section-block-padding) var(--section-inline-padding);	
}
.how-we-work__container {
	padding: 8rem var(--section-inline-padding);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--dark-violet);
	background-image: url(../images/bg-pattern-how-we-work-mobile.svg);
	background-repeat: no-repeat;
	background-position: top right;
	background-size: contain;
	color: var(--very-light-gray);
}
.how-we-work__title {
	margin-bottom: 3rem;
	font-family: var(--ff-secondary);
	font-weight: 300;
	font-size: var(--font-size-h4);
	text-align: center;
}
/**********************
	5. FOOTER
/**********************/ 
.footer {	
	padding: 6rem var(--section-inline-padding) 2rem;
	background-color: var(--very-light-gray);
}
.footer__grid__container {
	display: grid;
	place-items: center;
}
.social__menu {
	display: flex;
	align-items: center;
	gap: 1.3rem;
	margin: 3.5rem 0 4rem;
}
.social__menu li a svg {
	width: 3rem;
	fill: var(--dark-grayish-violet);
	transition: .1s ease;
}
.social__menu li a svg path:hover,
.social__menu li a svg path:focus-visible {
	fill: var(--very-dark-violet);
	cursor: pointer;
}
.line {
	width: 100%;
	height: 2px;
	margin-bottom: 4rem;
	background-color: var(--dark-grayish-blue);
}
.links__container {
	margin-bottom: 4rem;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}
.links__container h2 {
	margin-bottom: 3rem;
	font-family: var(--ff-primary);
	font-size: 1.6rem;
	color: var(--dark-grayish-violet);
}
.links__container ul li {
	margin-bottom: 1rem;
}
.links__container ul li a {
	color: var(--dark-violet);
	transition: .1s ease;
}
.links__container ul li a:hover,
.links__container ul li a:focus-visible {
	text-decoration: underline;
	cursor: pointer;
}